{% extends "main.html" %}
{% import "macros.html" as macros %}
{% set itemActions = {
    'view': {
        'title': "Ansehen",
        'glyphicon': 'glyphicon-eye-open',
    },
    'edit': {
        'title': "Bearbeiten",
        'glyphicon': 'glyphicon-pencil',
    },
    'delete': {
        'title': "Löschen",
        'glyphicon': 'glyphicon-trash',
    }
} %}

{% block main %}
  <h1>Gruppenübersicht</h1>
  {{ macros.group_table() }}
{% endblock %}

{% block page_script %}
  {{ macros.item_table_script(itemActions) }}
{% endblock %}
