{% extends "main.html" %}

{% block main %}
  <h1>Gruppen</h1>
  <div id="toolbar" class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <a class="btn btn-default" href="{{ url_for('.create_group') }}"><span class="glyphicon glyphicon-plus-sign"></span> Hinzufügen</a>
    </div>
  </div>
  <table class="table table-striped" data-toggle="table" data-cache="false" data-url="{{ url_for('.view_groups') }}" data-response-handler="responseHandler" data-id-field="cn" data-search="true" data-pagination="true" data-sort-name="cn" data-toolbar="#toolbar">
    <thead>
      <tr>
        <th data-field="cn" data-sortable="true">Name</th>
        <th data-field="createTimestamp" data-sortable="true">Erstellt um</th>
        <th data-field="modifyTimestamp" data-sortable="true">Geändert um</th>
        <th data-formatter="actionFormatter">Aktionen</th>
      </tr>
    </thead>
  </table>
{% endblock %}

{% block page_script %}
  <script type="application/javascript">
    function responseHandler(response) {
      return response.groups;
    }
    function actionFormatter(value, row, index) {
      return ('<a class="btn btn-default" href="' + row.viewUrl + '"><span class="glyphicon glyphicon-eye-open"></span></a>'
              + '<a class="btn btn-default" href="' + row.editUrl + '"><span class="glyphicon glyphicon-pencil"></span></a>'
              + '<a class="btn btn-default" href="' + row.deleteUrl + '"><span class="glyphicon glyphicon-trash"></span></a>');
    }
  </script>
{% endblock %}
