{% extends 'main.html' %}
{% import "macros.html" as macros %}

{% block main %}
  <h1>Mitglieder zur Gruppe {{ group.cn }} hinzufügen</h1>

  {% for field in form %}
    {% for error in field.errors %}
      <p class="help-block">{{ error }}</p>
    {% endfor %}
  {% endfor %}
  <form role="form" accept-charset="utf-8" method="post">
    {{ form.csrf_token }}
    <div id="toolbar" class="btn-toolbar" role="toolbar">
      <div class="btn-group">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-plus-sign"></span> Hinzufügen
        </button>
      </div>
    </div>
    <table class="table table-striped"
           data-toggle="table"
           data-cache="false"
           data-url="{{ url_for('.list_non_members', cn=group.cn) }}"
           data-response-handler="responseHandler"
           data-id-field="dn"
           data-search="true"
           data-pagination="true"
           data-toolbar="#toolbar"
           data-click-to-select="true"
           data-select-item-name="{{ form.dns.name }}">
      <thead>
        <tr>
          <th data-checkbox="true"></th>
          <th data-field="uid" data-sortable="true">Login</th>
          <th data-field="givenName" data-sortable="true">Vorname</th>
          <th data-field="sn" data-sortable="true">Nachname</th>
        </tr>
      </thead>
    </table>
  </form>
{% endblock %}

{% block page_script %}
  {{ macros.item_table_script([]) }}
{% endblock %}
