{% extends "main.html" %}
{% import "macros.html" as macros %}

{% macro attribute(name, value) %}
  <div class="form-group">
    <label class="control-label col-md-4">{{ name }}</label>
    <div class="col-md-8">
      <p class="form-control-static">{{ value }}</p>
    </div>
  </div>
{% endmacro %}

{% block main %}
  <h1>Benutzer {{ user.uid }}</h1>
  <div class="row">
    <form class="form-horizontal" role="form">
      <div class="col-md-8">
        {{ attribute("Erstellt um", user.createTimestamp|datetimeformat) }}
        {{ attribute("Geändert um", user.modifyTimestamp|datetimeformat) }}
      </div>
    </form>
  </div>
  {{ macros.form(details_form, url_for('.edit_user', uid=user.uid, action='update-details'), 'Ändern') }}

  <h2>Mitgliedschaften entfernen</h2>
  {{ macros.form_table('remove-groups', remove_groups_form, url_for('.edit_user', uid=user.uid, action='remove-groups'), 'Entfernen', remove_groups_form.dns.name, url_for('.list_groups_of', uid=user.uid), [('cn', 'Name')]) }}

  <h2>Mitgliedschaften hinzufügen</h2>
  {{ macros.form_table('add-groups', add_groups_form, url_for('.edit_user', uid=user.uid, action='add-groups'), 'Hinzufügen', add_groups_form.dns.name, url_for('.list_non_groups_of', uid=user.uid), [('cn', 'Name')]) }}
{% endblock %}

{% block page_script %}
  {{ macros.item_table_script([]) }}
{% endblock %}
