{% extends 'main.html' %}
{% import "macros.html" as macros %}
{% set perItemActions = [
  {
    'action': 'view',
    'title': "Ansehen",
    'glyphicon': 'glyphicon-eye-open',
  },{
    'action': 'edit',
    'title': "Bearbeiten",
    'glyphicon': 'glyphicon-pencil',
  },{
    'action': 'delete',
    'title': "Löschen",
    'glyphicon': 'glyphicon-trash',
    'confirm': True,
  }
] %}

{% block main %}
  <h1>Benutzerübersicht</h1>
  {{ macros.user_table() }}
{% endblock %}

{% block page_script %}
  {{ macros.item_table_script(perItemActions) }}
{% endblock %}
